# Week 3: Identify Risk Factors for Infection

<span style="color:red">
**UPDATE**

Thank you again for the previous analysis. We will next be publishing a public health advisory that warns of specific infection risk factors of which individuals should be aware. Please advise as to which population characteristics are associated with higher infection rates. 
</span>

Your goal for this notebook will be to identify key potential demographic and economic risk factors for infection by comparing the infected and uninfected populations.

## Imports

In [1]:
import cudf
import cuml

## Load Data

Begin by loading the data you've received about week 3 of the outbreak into a cuDF data frame. The data is located at `./data/week3.csv`. For this notebook you will need all columns of the data.

In [2]:
gdf = cudf.read_csv("./data/week3.csv")
print(gdf.dtypes)
print(gdf.shape)
gdf.head()

age             int64
sex            object
employment     object
infected      float64
dtype: object
(58479894, 4)

   age sex employment  infected
0    0   m          U       0.0
1    0   m          U       0.0
2    0   m          U       0.0
3    0   m          U       0.0
4    0   m          U       0.0

## Calculate Infection Rates by Employment Code

Convert the `infected` column to type `float32`. For people who are not infected, the float32 `infected` value should be `0.0`, and for infected people it should be `1.0`.

In [3]:
gdf['infected'] = gdf['infected'].astype('float32')
print(gdf.dtypes)
gdf.head()

age             int64
sex            object
employment     object
infected      float32
dtype: object

   age sex employment  infected
0    0   m          U       0.0
1    0   m          U       0.0
2    0   m          U       0.0
3    0   m          U       0.0
4    0   m          U       0.0

Now, produce a list of employment types and their associated **rates** of infection, sorted from highest to lowest rate of infection.

**NOTE**: The infection **rate** for each employment type should be the percentage of total individuals within an employment type who are infected. Therefore, if employment type "X" has 1000 people, and 10 of them are infected, the infection **rate** would be .01. If employment type "Z" has 10,000 people, and 50 of them are infected, the infection rate would be .005, and would be **lower** than for type "X", even though more people within that employment type were infected.

In [34]:
rates_list = cudf.DataFrame(gdf[gdf['infected'] == 1]['employment'].value_counts())
rates_list['all'] = gdf['employment'].value_counts()
rates_list['rate'] = rates_list['employment'] / rates_list['all']
rates_list = rates_list.sort_values('rate', ascending=False)
rates_list

         employment       all      rate
Q             48505   3802602  0.012756
I             16116   1556575  0.010354
V             76648  10098466  0.007590
P             18609   3006149  0.006190
Z             40498   7161907  0.005655
R, S, T        8997   1669197  0.005390
O              9741   1843446  0.005284
L              1722    346470  0.004970
G             17561   3549465  0.004948
N              6541   1367137  0.004784
M             10578   2214336  0.004777
K              5356   1122406  0.004772
X               826    181988  0.004539
J              4650   1180372  0.003939
C             10301   2653753  0.003882
A              1178    305755  0.003853
B, D, E        1837    486785  0.003774
H              4737   1398342  0.003388
F              6604   2075628  0.003182
U              2702  12459115  0.000217

Finally, read in the employment codes guide from `./data/code_guide.csv` to interpret which employment types are seeing the highest rates of infection.

In [35]:
guide = cudf.read_csv("./data/code_guide.csv")
guide

       Code                                            Field
0         A                  Agriculture, forestry & fishing
1   B, D, E                  Mining, energy and water supply
2         C                                    Manufacturing
3         F                                     Construction
4         G     Wholesale, retail & repair of motor vehicles
5         H                              Transport & storage
6         I                    Accommodation & food services
7         J                      Information & communication
8         K                 Financial & insurance activities
9         L                           Real estate activities
10        M  Professional, scientific & technical activities
11        N                Administrative & support services
12        O          Public admin & defence; social security
13        P                                        Education
14        Q            Human health & social work activities
15  R, S, T                                   Other services
16        U                                          Student
17        V                                          Retired
18        X                  Outside the UK or not specified
19        Y                                 Pre-school child
20        Z                            Not formally employed

## Take the Assessment

After completing the work above, visit the *Launch Section* web page that you used to launch this Jupyter Lab. Scroll down below where you launched Jupyter Lab, and answer the question *Week 3 Assessment*. You can view your overall progress in the assessment by visiting the same *Launch Section* page and clicking on the link to the *Progress* page. On the *Progress* page, if you have successfully answered all the assessment questions, you can click on *Generate Certificate* to receive your certificate in the course.

![launch_task_page](./images/launch_task_page.png)

<div align="center"><h2>Optional: Restart the Kernel</h2></div>

If you plan to continue work in other notebooks, please shutdown the kernel.

In [ ]:
import IPython
app = IPython.Application.instance()
app.kernel.do_shutdown(True)